@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide number input arrows
  https://stackoverflow.com/questions/71296535/how-to-remove-arrow-on-input-type-number-with-tailwind-css
  */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --color-bg: #FFFDFA;
    --color-text: #333333;
    --color-text-light: #666666;


    --navbar-primary: #176400;
    --navbar-button-hover: #2e9c06;
    --navbar-text: #FFFFFF;
    --navbar-text-hover: #a19d9d;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}


  body {
    @apply bg-[--color-bg] font-montserrat
  }
}